:root {
    --imperial-red: #e63946ff;
    --honeydew: #f1faeeff;
    --powder-blue: #a8dadcff;
    --celadon-blue: #457b9dff;
    --prussian-blue: #1d3557ff;
}

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: var(--honeydew);
}

header {
    background-color: var(--celadon-blue);
    color: honeydew;
    height: 10vh;
}

.title {
    text-align: center;
    font-size: x-large;
    padding-top: 3vh;
}

.header-btns {
    display: flex;
    padding: 10px;
    justify-content: right;
}

.book-area {
    width: 60vw;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.card {
    background-color: white;
    padding:16px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 4px;
    border-left: 4px solid var(--imperial-red);
    display: flex;
    justify-content: space-between;
}

.been-read {
    border-left: 4px solid var(--celadon-blue);
}

.btn-container {
    display: flex;
    gap: 8px;
}

.btn-container button {
    border: solid 2px var(--celadon-blue);
    border-radius: 4px;
    background-color: var(--celadon-blue);
    color: var(--honeydew);
    font-weight: bold;
}
 
button {
    cursor:pointer;
}

.popup {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
}

#add-book-form {
    background-color: white;
    padding:16px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 4px;
    border-left: 4px solid var(--imperial-red);
    margin: 15% auto;
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.form-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#form-close {
    font-size: larger;
    cursor: pointer;
}